<h1>Make a new Post!</h1>

<form action="<%= posts_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
  <label for="title">Title:</label>
  <input type="text" name="post[title]" id="title">
  <label for="url">URL:</label>
  <input type="text" name="post[url]" id="url">
  <label for="sub">Subreddit:</label>
  <select name="post[sub_id]">
    <% Sub.all.each do |subreddit| %>
      <option value="<%= subreddit.id %>"> <%= subreddit.title %> </option>
    <% end %>

  </select>
  <br>
  <label for="content">Content:</label>
  <br>
  <textarea name="post[content]" rows="8" cols="80"></textarea>

  <input type="submit" value="Create post!">


</form>
