<h1> <%= @post.title %>  </h1>

<section>
  <p>Subreddit: r/<%= @post.sub.title %> </p>
  <p>URL: <%= @post.url %> </p>
  <p>Content: <%= @post.content %>  </p>
  <p>Author: <%= @post.author.username %> </p>

</section>
